body {
    margin: 0;
    padding: 0;
    background-color: #EAFFD0;
}

#app {
    position: absolute;
    border: solid 4px black;
    border-style: inset;
    border-radius: 8%;
    width: 40%;
    height: 80%; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* øverste meny */
#mainViewButtons {
    position: relative;
    border: solid 1px black;
    border-radius: 8px;
    height: 5%;
    width: 40%;
    top: 2%;
    left: 30%;
    text-align: center;
    padding-top: 2.2%;
    background-color: #43C59D;
}
/* kategori på siden */
#oneDiv {
    position: relative;
    border: solid 1px black;
    width: 12%; 
    height: auto;
    border-radius: 8px;
    text-align: center;
    top: 2%;
    left: 2%;
    background-color: #43C59D;
}
#oneDiv button {
    width: 80%;
    padding: 2%;
    margin: 2%;
}

#mainViewShowDishes {
    position: relative;
    border-radius: 8px;
    width: 70%;
    height: auto;
    left: 20%;
    top: -10%;

}

#addFoodViewButton {
    position: relative;
    top: -9%;
    left: 1%;
}
/* Grid til å vise rettene våres */
.dishDiv {
    border: solid 1px black;
    border-radius: 8px;
    margin: 1%;
    background-color: #43C59D;
    height: 160px;
    overflow: hidden;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr ;
    grid-template-areas:'header header'
                        'innhold innhold'
                        'knapper pris';

}

.prisCss {
    position: relative;
    grid-area: pris;
    right: 10%;
    text-align: right;
    
}

 .dishDiv button {
    position: relative;
    bottom: -2px;
    left: 1%;
} 

.knapper {
    grid-area: knapper;
    padding: 5px;
}

.innhold {
    grid-area: innhold;
}

.header {
    grid-area: header;
}

#mainViewShowDishes::-webkit-scrollbar {
      display: none;
}

/* Grid for legg til knappene våres */ 


