.app {
    padding: 0;
    margin: 0;
}

#mainViewShowDishes {
    position: relative;
    top: -230px;
    left: 200px;
    width: 1400px;
} 

.dishDiv {
    border-style: solid; 
    border-radius: 25px;
    border: 2px solid #000000;
    margin: 2px;
    padding-left: 10px;
    padding-bottom: 15px;
    width: 200px;
    height: 125px;
    background-color: white;
    width: 65%;
}

#mainViewButtons {
    position: absolute;
    background-color: rgb(155, 155, 155);
    left: 150px;
    width: 250px;
    
}

.coloredButtons {
    color: rgb(0, 0, 0);
}

#mainViewCategory {
    position: relative;
    background-color: rgb(155, 155, 155);
    top: 70px;
    width: 100px;
    height: 70px;
    
    
}

#addCategory {
    position: relative;
    height: 20px;
    width: 60px;
    top: 50px;

}

